name: DCO Check
on: [pull_request]

jobs:
  dco:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # нужно, чтобы git log видел коммиты

      - name: DCO Check
        uses: tim-actions/dco@v1
