name: DCO

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  dco:
    name: DCO Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: tim-actions/dco@v2
        with:
          fail: true
